Repository moberwasserlechner/capacitor-oauth2, pull requests merged in 2020-04, with the labels that each got.

#74 Fix error when building with Xcode 11.4
  ios/ByteowlsCapacitorOauth2/Source/ByteowlsCapacitorOauth2.swift
Labels: bug, ios

#72 get all parameters from callback URL
  src/web.ts
Labels: enhancement, web

#75 allow no resourceurl
  android/src/main/java/com/byteowls/capacitor/oauth2/ResourceUrlAsyncTask.java
Labels: android, enhancement
